<div class="wrap-title">
	<div class="title"><h1>Angular & pure css example</h1></div>
	<div class="sub-title"><h3>By Malus Khan</h3></div>
</div>	

<div class="wrap-main" ng-controller="EventsCtrl">
	<div class="section-title">
		<h2>
			Events
		</h2>
	</div>
	<div class="section-search">
		 <input ng-change="filterEvents()" type="text" id="search" class="form-control" ng-model="search" placeholder="Type search phrase here..." />
	</div>
	<div class="section-add">
		<form ng-submit="addEvent()">
			<div class="wrap-section">
				<div class="sub-section-col-1"><input type="text" name="name" placeholder="Name" ng-model="event.name" /></div>
				<div class="sub-section-col-2"><input type="text" name="event_date" placeholder="Date" ng-model="event.event_date" /></div>
				<div class="sub-section-col-3"><input type="text" name="description" placeholder="Description" ng-model="event.description" /></div>
				<div class="sub-section-col-4"><input type="text" name="place" placeholder="Place" ng-model="event.place" /></div>
				<div class="sub-section-col-5"><button type="submit">Add</button></div>
			</div>
		</form>
	</div>
	<div class="section-table">
		<table>
			<thead>
				<tr>
					<td>Name</td>
					<td>Date</td>
					<td>Description</td>
					<td>Place</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="event in events">
					<td>{{event.name}}</td>
					<td>{{event.event_date}}</td>
					<td>{{event.description}}</td>
					<td>{{event.place}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>